<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Add</title>
</head>
<body>
    
    <div class="outer-box">
        <img src="{% static 'images/bg.jpg' %}" alt="" srcset="">
        <form class="inner-box" id="myForm" action="" method="post">
            {% csrf_token %}
            
            <select name="semester" id="semesterSelect">
                <option value="sem">Select semester</option>
                {% for x in sem %}
                <option value="{{ x.sem }}">{{ x.sem }}</option>
                {% endfor %}
            </select>
            
            <button type="submit" id="submitButton">Next</button>
        </form>
        <div class="water-mark">
            <span>by sphodanam | kalakkan.ct</span>
        </div>
    </div>

    <script>
        document.getElementById('myForm').addEventListener('submit', function(event) {
            var semesterSelect = document.getElementById('semesterSelect');
            if (semesterSelect.value === 'sem') { // Check if "Select semester" is still selected
                alert('Please select a semester.');
                event.preventDefault(); // Prevent form submission
            }
        });
    </script>
   
</body>
</html>
