<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Home</title>
</head>
<body>
    
    <div class="outer-box">
        <img src="{% static 'images/bg.jpg' %}" alt="" srcset="">
        <form class="inner-box" action="" method="post">
            <select name="" id="">
                <option value="sem">Select your semester</option>
            </select>
            <select name="" id="">
                <option value="subject">Select subject</option>
            </select>
            <button type="submit">Search</button>
        </form>
        <div class="water-mark">
            <span>by sphodanam | kalakkan.ct</span>
        </div>
    </div>
   
</body>
</html>